* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header { /*removed the period mark. periods define class elements in css.changed from class element to element*/
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {/*removed the . to make it a element header instaed of class header*/
    display: inline-block;
    font-size: 48px;
}

.seo {/*removed .header class element and h1 and just left .seo*/
    color: #d9dcd6;
}

/*removed closing class .header*/

header div ul {/*removed the . to make it a element header instead of class .header*/
    list-style-type: none;
}

header div ul li {/*removed the . to make a element header instead of class .header*/
    display: inline-block;
    margin-left: 25px;
}

nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

a { /*i moved the header div content to the a element. removed because parent elemnt has the properties in it.*/
   
    color: #ffffff;
    text-decoration: none;
    padding-right: 5px; /*added padding to add proper spacing between buttons*/
}

p {
    font-size: 16px;
}

.content-seperator { /*changed from a class element(.hero) to class element .content-seperator*/
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left { /*condenced down to one float left.added secnd float back. html page displays poorly*/
    float: left;
    margin-right: 25px;
}

.float-right{ /*added float right instead of left. displays properly*/
    float: left;
    margin-right: 25px
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead { /*condenced all the benifits into one line of code.rename?*/
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 { /*condenced all h3 benifits into one h3 line of code.rename?*/
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img { /*condenced all images with sam properties into one line of code. rename?*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff; 
}

img { /*condenced img code into on line of code*/
    max-height: 200px;
}

.h2 {/*went from .search engine opt. to just h2*/
    margin-bottom: 20px;
    font-size: 36px;
}

footer { /*removed the . from the .footer class element and made it just a footer element.*/
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    
}

.footer h4 { /*changed from h2 to h4*/
    font-size: 20px;
}
